<div id="main-content" class="container">

    <fieldset>
        <h3 class=intro >Sign up for the newsletter</h3>
        <form name="newsletterSignUpForm" novalidate>

        <div class=row>
          <input type="text" name="firstName" ng-model="sc.firstName" required placeholder="Enter your first name">
          <span class=alert ng-if="newsletterSignUpForm.firstName.$error.required && newsletterSignUpForm.firstName.$touched">
            First name required
          </span>
        </div>

        <div class=row>
          <input type="text" name="lastName" ng-model="sc.lastName" required placeholder="Enter your last name">
          <span class=alert ng-if="newsletterSignUpForm.lastName.$error.required && newsletterSignUpForm.lastName.$touched">
            Last name required
          </span>
        </div>

        <div class=row>
          <input type="email" name="email" ng-model="sc.email" required placeholder="Enter your email address">
          <span class=alert ng-if="(newsletterSignUpForm.email.$error.required || newsletterSignUpForm.email.$error.email ) && newsletterSignUpForm.email.$touched">
            Please enter a valid email
          </span>
        </div>

        <div class=row>
          <input type="number" name="phone" ng-model="sc.phone" required placeholder="Enter your phone address">
          <span class=alert ng-if="(newsletterSignUpForm.phone.$error.required || newsletterSignUpForm.phone.$error.number ) && newsletterSignUpForm.phone.$touched">
            Please enter a valid phone number
          </span>
        </div>

        <div class=row>
          <input type="text" name="dish" ng-model="sc.dish" required placeholder="Enter your favorite dish">
          <span class=alert ng-if="newsletterSignUpForm.dish.$error.required && newsletterSignUpForm.dish.$touched">
            Please eneter your favorite dish
          </span>
        </div>

        <div class=row>
          <div class=alert ng-if="sc.message">
            {{sc.message}}
          </div>
        </div>

        </br>
          <button ng-click="sc.go()">Submit</button>
        </form>
      </fieldset>



</div>