<!DOCTYPE html>
<html ng-app=loop>

<head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Shopping List</title>
</head>

<body >
<div ng-controller=repeatController >
    <div>FILTRO: </div><input type="text" ng-model="filterName">
    <ul>
        <li ng-repeat="item in shoppingList | filter : filterName ">
            {{ item.name }} : {{ item.quantity }}
        </li>
    </ul>

    <input ng-model="newName" placeholder="Nome" ></input>
    <input ng-model="newAmount" placeholder="1" ></input>

    <button ng-click = "newItem()" >new item</button>
</div>
</body>

</html>